[tool.poetry]
authors = ["abersheeran <me@abersheeran.com>"]
description = "Powerful and exquisite WSGI/ASGI framework/toolkit."
license = "Apache-2.0"
name = "baize"
readme = "README.md"
version = "0.5.0"

homepage = "https://github.com/abersheeran/baize"
repository = "https://github.com/abersheeran/baize"

classifiers = [
  "Programming Language :: Python :: 3",
]

packages = [
  {include = "baize"},
]

[tool.poetry.dependencies]
python = "^3.7"

python-multipart = {version = "^0.0.5", optional = true}
typing-extensions = {version = "^3.7.4", python = "<3.8"}

[tool.poetry.extras]
multipart = ["python-multipart"]

[tool.poetry.dev-dependencies]
black = {version = "*", allow-prereleases = true}
isort = "^5.7.0"

flake8 = "*"
mypy = "^0.812"

httpx = "^0.16.1"
pytest = "^5.4.3"
pytest-asyncio = "^0.14.0"
pytest-cov = "^2.11.1"
requests = "^2.25.1" # for test ASGI websocket
starlette = "^0.14.2" # for test ASGI websocket

[tool.isort]
profile = "black"

[tool.coverage.run]
omit = ["*/.venv/*", "*/tests/*"]

[tool.coverage.report]
exclude_lines = [
  "pragma: no cover",
  "raise NotImplementedError",
  "if False:",
  "assert False",
  "if typing.TYPE_CHECKING:",
  "if TYPE_CHECKING:",
  "@typing.overload",
]
show_missing = true
skip_covered = true

[build-system]
build-backend = "poetry.masonry.api"
requires = ["poetry>=0.12"]
